<section class="pitch-classroom-guide">
  <div class="section-header">
    <h1>Classroom Guide</h1>
    <p class="lead">A step-by-step guide on setting up your GitHub Organization for classroom use.</p>
  </div>

  <div class="container wrapper">
    <div class="guide-wrapper">
      <div class="guide-menu">
        <strong>We're here to help.</strong> If you get stuck or have any questions about using GitHub in the classroom, please <a href="/contact">get in touch</a>.
        <br />
        <br />
        <a class="button button-block download-button"><span class="octicon octicon-file-pdf"></span>Download this guide as .pdf</a><br />
      </div>
      <div class="guide-content markdown-body">
        <%= render "contents" %>
      </div>
    </div>
  </div>

</section>
